.header{
    background-color: #007cfd;
    text-align: center;
    height: 64px;
    font-size:23px;
    color: #fff;
}
.chat-container .conversation-title{
    background-color: #fff;
    text-align: center;
    height: 64px;
    font-size:20px;
    color: black;
    border-bottom:1px solid rgb(100, 98, 98);
}

.chat-container{
    height: 100vh;
}
.chat-container .main{
    height: calc(100vh - 64px);
    display: flex;
}
.chat-container .conversation-detail{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 85%;
}
.chat-container .list-messages{
    flex-grow: 1;
}
.chat-container #send-message-form{
    position: relative;
}
#send-message-form button{
    position: absolute;
    right: 15px;
    top: 23px;
    border: none;
    background: transparent;
    color: #007cfd;
    font-size: 1.5rem;
}
#send-message-form .input-wrapper{
    margin: 0;
}
#send-message-form .input-wrapper input{
    padding: 22px 20px;
    border-left: none;
}
.list-messages .message .content{
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    max-width: 45%;
}
.list-messages .message.mine .content{
    background-color: #007cfd;
    color: #fff;
    margin-bottom:10px ;
}
.list-messages .message.mine{
    display: flex;
    justify-content: flex-end;
}
.list-messages .message.their .content{
    background-color: #ddbbdd;
    margin-bottom:10px;
}
.chat-container .list-messages{
    padding: 10px;
    overflow-y: auto;
}
.list-messages .content{
    word-break: break-all;
}
.chat-container .aside-left{
    width: 15%;
    height: 100%;
    border-right: 1px solid #ddbbdd;
}
.chat-container .aside-left .create-conversations{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}
.chat-container .aside-left .list-conversations .conversation{
    padding:10px;
}
.chat-container .aside-left .list-conversations .conversation.current{
    background: #dbdbdb;
}